h1 {
    text-align: center;
}

.header {
    background-image: url('imagem-fundo.jpg');
    margin-right: -1%;
    margin-top: -2%;
    margin-left: -1%;
    padding: 150px;
    object-fit: cover;
    object-position: center;
}

.Intro p {
    text-align: justify;
    width: 350px;
    margin-left: 750px;
}

.Skills span {
    padding: 3px;
}

.Skills {
    margin-bottom: 30%;
    display: inline-block;
    display: grid;
}

.contatos {
    display: grid;
}

.contatos span {
    padding: 3px;
}

main {
    text-align: center;
}

footer {
    text-align: center;
}